*.aux
*.bcf
*.fdb_latexmk
*.fls
*.log
*.xml
*.gz
*.nav
*.out
*.snm
*.toc
m.xml
*.bcf
*.log
img/contour_plot_2D_species_1/
img/contour_plot_2D_species_2/
img/contour_plot_2D_species_3/
img/contour_plot_species_1/
img/contour_plot_species_2/
img/contour_plot_species_3/
img/contour_plot_2Danisotropic_species_1/
img/contour_plot_2Danisotropic_species_2/
img/contour_plot_2Danisotropic_species_3/
